body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
}

#calculator {
    display: grid;
}

#display {
    grid-column: span 4;
    height: 50px;
    text-align: right;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
}

button {
    height: 50px;
    margin: 5px;
    font-size: 18px;
}

.operator {
    background-color: #ccc;
}
